---
layout : layout
---

<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-head-line">All Posts:</h1>
        </div>
    </div>

    <div class="row">
        <article class="col-md-12">
            <ul>
                @{
                    foreach( var post in @Model.Site.Posts )
                    {
                        @:<li>
                            @:<a href="@post.Url">@post.Title</a> - @post.Bag["description"]
                        @:</li>
                    }
                }
            </ul>
        </article>
    </div>
</div>