---
layout : layout
---

@inherits RazorEngine.Templating.TemplateBase<Pretzel.Logic.Templating.Context.PageContext>

@{
    object catName = Model.Page.Bag["category"];
}

<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-head-line">Category: @catName</h1>
        </div>
    </div>

    <div class="row">
        <article class="col-md-12">
            <ul>
                @{
                    foreach( var cat in @Model.Site.Categories )
                    {
                        if( cat.Name.Equals( catName ) )
                        {
                            foreach( var post in cat.Posts )
                            {
                                @:<li><a href="@post.Url">@post.Title</a></li>
                            }
                        }
                    }
                }
            </ul>
        </article>
    </div>
</div>
