---
layout: layout
---
@inherits RazorEngine.Templating.TemplateBase<Pretzel.Logic.Templating.Context.PageContext>

<article id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-head-line">@Model.Page.Title</h1>
        </div>
    </div>

    <!-- Main Content -->
    <div class="row">
        <div class="col-md-12">
            <div>
                @Raw( Model.Content )
            </div>
        </div>
    </div>
</article>
