---
layout: layout
---
@inherits RazorEngine.Templating.TemplateBase<Pretzel.Logic.Templating.Context.PageContext>

<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-head-line">@Model.Page.Title</h1>
        </div>
    </div>

    <!-- Main Content -->
    <div class="row">
        <div class="col-md-12">
            <article>
                @Raw( Model.Content )
            </article>
        </div>
    </div>
</div>
