---
layout : layout
---

@inherits RazorEngine.Templating.TemplateBase<Pretzel.Logic.Templating.Context.PageContext>

@{
    object tagName = Model.Page.Bag["tag"];
}

<article id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-head-line">Tag: @tagName</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul>
                @{
                    foreach( var cat in @Model.Site.Tags )
                    {
                        if( cat.Name.Equals( tagName ) )
                        {
                            foreach( var post in cat.Posts )
                            {
                                @:
                                <li><a href="@post.Url">@post.Title</a></li>
                            }
                        }
                    }
                }
            </ul>
        </div>
    </div>
</article>

